@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


body{
    margin:0;
}


#navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 2px solid black;
    z-index:3;
}


#navbar #color-flipper{
    color:#05f2fa;
}


#navbar button{
   
    background-color: white;
    border:none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
}


#main-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    height:100vh;
    margin:0;
}

#main-container button{
 
     background-color:black;
     color:white;
     padding:10px 20px;
     margin-top:20px;
     border-radius: 0.5rem;
     cursor:pointer;
}

#color-text{
    color:white;
    background-color: black;
    padding:10px 50px;
    border-radius: 0.5rem;
}

